.navbarOpen {
	@apply fixed z-30 inset-y-0 left-0 w-64 transition duration-300 transform bg-purple-800 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0 translate-x-0 ease-out;
}

.navbarClose {
	@apply fixed hidden md:block z-30 inset-y-0 left-0 w-64 transition duration-300 transform bg-purple-800 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0 -translate-x-full ease-in;
}

.navBanner {
	@apply flex items-center justify-center mt-8 cursor-pointer;
	.wrapper {
		@apply flex items-center;
		img {
			@apply h-12 w-12;
		}
		span {
			@apply text-white text-2xl mx-2 font-semibold;
		}
	}
}

.items {
	@apply mt-10;
}
