.wrapper {
	@apply flex h-screen bg-gray-200;
	.barsOpen {
		@apply fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden block;
	}
	.barsClose {
		@apply fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden hidden;
	}
	.content {
		@apply flex-1 flex flex-col overflow-hidden;
		header {
			@apply flex justify-between items-center py-4 px-6 bg-white border-b-4 border-light-pink-600;
			.left {
				@apply flex items-center;
				.title {
					@apply relative mx-4 lg:mx-0 md:text-lg text-base font-semibold;
				}
				.collapse {
					@apply text-gray-500 focus:outline-none lg:hidden;
					.icon {
						@apply h-6 w-6;
					}
				}
			}
			.right {
				@apply flex items-center;
			}
		}
		main {
			@apply flex-1 overflow-x-hidden overflow-y-auto bg-gray-200;
			.contentWrapper {
				@apply container mx-auto px-6 py-8;
			}
		}
	}
}
