@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
	background: #fff6f6;
	font-family: "Poppins", sans-serif;
}

.loader {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
}
.loader div {
	display: inline-block;
	position: absolute;
	left: 4px;
	width: 8px;
	background: #fff;
	animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
	left: 4px;
	animation-delay: -0.24s;
}
.loader div:nth-child(2) {
	left: 16px;
	animation-delay: -0.12s;
}
.loader div:nth-child(3) {
	left: 28px;
	animation-delay: 0;
}
@keyframes loader {
	0% {
		top: 4px;
		height: 32px;
	}
	50%,
	100% {
		top: 12px;
		height: 16px;
	}
}
