.td {
	@apply px-6 py-4 whitespace-nowrap border-b border-gray-200;
	.iconWrapper {
		@apply flex-shrink-0 h-10 w-10;
		.icon {
			@apply h-10 w-10  text-xl sm:text-3xl;
		}
	}
	.titleWrapper {
		@apply flex items-center;
		.title {
			@apply text-sm leading-5 font-medium text-gray-900;
		}
	}
	.description {
		@apply text-sm leading-5 text-gray-700;
	}
	.reported {
		@apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800;
	}
	.active {
		@apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800;
	}
}

.linkWrapper {
	@apply px-6 py-4 whitespace-nowrap text-right border-b border-gray-200 text-sm leading-5 font-medium;
	span {
		@apply text-indigo-600 hover:text-indigo-900 cursor-pointer;
	}
}
