.Home {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex: 1 1;
	flex-direction: column;
	justify-content: center;
}

.Home:after {
	content: "Local style";
	font-size: smaller;
	opacity: 0.5;
}
