.wrapper {
	@apply relative;
	.btn {
		@apply relative block overflow-hidden focus:outline-none;
	}
	.imageBtn {
		@apply relative block h-8 w-8 rounded-full overflow-hidden shadow focus:outline-none;
	}
	.closeBlockOpen {
		@apply fixed inset-0 h-full w-full z-10 block;
	}
	.closeBlockClose {
		@apply fixed inset-0 h-full w-full z-10 hidden;
	}
	.dropdownOpen {
		@apply absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10 block;
	}
	.dropdownClose {
		@apply absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10 hidden;
	}
	.linkItem {
		@apply block px-4 py-2 text-sm text-gray-700 hover:bg-light-pink-600 hover:text-white;
	}
}
