.wrapper {
	@apply h-screen flex items-center;
	.content {
		@apply container flex flex-col md:flex-row items-center justify-center px-5 text-gray-700;
		.fix {
			@apply max-w-md;
			.title {
				@apply text-5xl font-bold;
			}
			.short {
				@apply text-2xl md:text-3xl font-light leading-normal;
			}
			.long {
				@apply mb-8;
			}
			.btn {
				@apply px-4 inline py-2 text-sm font-medium leading-5 shadow text-white transition-colors duration-150 border border-transparent rounded-lg focus:outline-none bg-yellow-600 hover:bg-yellow-700 cursor-pointer;
			}
		}
	}
}
