.form {
	@apply bg-white p-6 my-10 relative rounded-md;
	.title {
		@apply text-2xl text-gray-900 font-semibold;
	}
	.desc {
		@apply text-gray-600;
	}
	.input {
		@apply border-none p-2 w-full mt-3 rounded shadow bg-gray-50;
	}
	.code {
		@apply border-none p-2 mt-3 w-full rounded shadow bg-gray-50 text-sm;
	}
	.tosWrapper {
		@apply flex items-baseline space-x-2 mt-2;
		.check {
			@apply inline-block text-purple-500 focus:ring-0;
		}
		p {
			@apply text-gray-600 text-sm;
			a {
				@apply text-pink-500 cursor-pointer;
			}
		}
	}
	.btn {
		@apply w-full mt-6 bg-green-600 hover:bg-green-500 text-white font-semibold p-3 rounded-md cursor-pointer;
	}
}
